.bg {
    background-image: url(images/38e6cf3f7dcedf4892ad721fe8945eb1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .aboutusbg {
    background-image: url(images/girl-photo-4173094.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
} */